{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="py-4">
{#      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">#}
{#          <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">#}
{#              <li class="breadcrumb-item">#}
{#                  <a href="#">#}
{#                      <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>#}
{#                  </a>#}
{#              </li>#}
{#              <li class="breadcrumb-item"><a href="#">Tables</a></li>#}
{#              <li class="breadcrumb-item active" aria-current="page">Bootstrap tables</li>#}
{#          </ol>#}
{#      </nav>#}
      <div class="d-flex justify-content-between w-100 flex-wrap">
          <div class="mb-3 mb-lg-0">
              <h1 class="h4">Scraped Data</h1>
              <p class="mb-0">Latest data will be on top</p>
          </div>
          <div>

          </div>
      </div>
  </div>

  <div class="card border-0 shadow mb-4">
      <div class="card-body">
          <div class="table-responsive">
              <table class="table table-centered table-nowrap mb-0 rounded" style="min-height: 350px">
                  <thead class="thead-light">
                      <tr>
                          <th class="border-0">Date Time</th>
                          <th class="border-0">Match Time</th>
                          <th class="border-0">Converted Date Time</th>
                          <th class="border-0">League</th>
                          <th class="border-0">League Flag</th>
                          {#                          <th class="border-0">Kampstart</th>#}
                          <th class="border-0">Game</th>
                          <th class="border-0">Channel Logo</th>
                          <th class="border-0">Channel</th>
                          <th class="border-0">Match Link</th>
                          <th class="border-0">League Link</th>
                          <th class="border-0 rounded-end">Update</th>
                      </tr>
                  </thead>
                  <tbody>
                  {% for match in data  %}
                      <!-- Item -->
                      <tr>
                          <td>{{ match.match_date }}</td>
                          <td>{{ match.match_time }}</td>
                          <td>{{ match.parsed_match_date_time }}</td>
                          <td>{{ match.league }}</td>
                          <td class="text-center"><img src="{{ match.league_img.url }}" alt=""> </td>
                          <td>{{ match.game }}</td>
                          <td class="text-center"><img height="35" src="{{ match.channel_img.url }}" alt=""></td>
                          <td>{{ match.channel_title }}</td>
                          <td class="text-center"><a href="{{ match.match_url }}" title="{{ match.match_url }}"><i class="text-success fa fa-link"></i></a></td>
                          <td class="text-center"><a href="{{ match.league_url }}" title="{{ match.league_url }}"><i class="text-success fa fa-link"></i></a></td>
                          <td><a href="{% url 'boldtv_edit' match.id %}" class="btn btn-sm btn-info">Edit</a></td>
                      </tr>
                      <!-- End of Item -->
                  {% endfor %}
                  </tbody>
              </table>
              <br>
            {% if data.has_other_pages %}
                <nav aria-label="...">
                  <ul class="pagination pagination-sm">
                    {% for i in data.paginator.page_range %}
                        {% if data.number == i %}
                            <li class="page-item disabled">
                              <a class="page-link" href="#" tabindex="-1">{{ i }} </a>
                            </li>
{#                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>#}
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                  </ul>
              </nav>
            {% endif %}
          </div>
      </div>
  </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
